body
{
    background-color: #215A7B;
    background-size: cover;
    color: white;
    font-family: Georgia;
    font-size: 1em;
}
h1
{
    text-decoration: underline;
}
div.border
{
    border: 0.15rem solid #3F3548;
    padding: 0.5em;
    margin-bottom: 1em;
}
a
{
    color: #58EFC4;
    font-size: 1.25em;
}
a:hover
{
    color: #4644B2;
    transition: color 0.2s ease;
}
iframe 
{
    width: 1000px;
    height:1000px;
}
div.creators
{
    display: flex;
    align-items: center;
    gap: 32px;
    flex-direction: row;
    row-gap: 1.5rem;
    margin-top: 5vh;
    margin-bottom: 10vh;
    margin-left: 55px;
    width: 20vw;
    height: 15vw;
}
div.purpleSoul
{
    display: flex;
    align-items: center;
    gap: 32px;
    flex-direction: row;
    row-gap: 1.5rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 40px;
    width: 15vw;
    height: 10vw;
}
nav
{
    display: flex;
    flex-direction: row;
    row-gap: 2rem;
    padding: 0.5em;
    gap: 20px
}
a.index-nav
{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
}
a.index-nav img.index-img
{
    content: url('images/pokeball.png');
    width: 40px;
    height: 40px;
    object-fit: contain;
}
a.index-nav:hover img.index-img
{
    content: url('images/pokeballOpen.png');
}
span.index-text
{
    font-size: 1em;
    color: white;
    transition: color 0.2s ease;
}
a.index-nav:hover .index-text
{
    color: red;
}
a.research-nav
{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
}
a.research-nav img.research-img
{
    content: url('images/cherishball.png');
    width: 40px;
    height: 40px;
    object-fit: contain;
}
a.research-nav:hover img.research-img
{
    content: url('images/cherishballOpen.png');
}
span.research-text
{
    font-size: 1em;
    color: white;
    transition: color 0.2s ease;
}
a.research-nav:hover .research-text
{
    color: red;
}
a.sources-nav
{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
}
a.sources-nav img.sources-img
{
    content: url('images/dreamball.png');
    width: 40px;
    height: 40px;
    object-fit: contain;
}
a.sources-nav:hover img.sources-img
{
    content: url('images/dreamballOpen.png');
}
span.sources-text
{
    font-size: 1em;
    color: white;
    transition: color 0.2s ease;
}
a.sources-nav:hover .sources-text
{
    color: red;
}
a.german-nav
{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
}
a.german-nav img.german-img
{
    content: url('images/greatball.png');
    width: 40px;
    height: 40px;
    object-fit: contain;
}
a.german-nav:hover img.german-img
{
    content: url('images/greatballOpen.png');
}
span.german-text
{
    font-size: 1em;
    color: white;
    transition: color 0.2s ease;
}
a.german-nav:hover .german-text
{
    color: red;
}
a.arabic-nav
{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
}
a.arabic-nav img.arabic-img
{
    content: url('images/ultraball.png');
    width: 40px;
    height: 40px;
    object-fit: contain;
}
a.arabic-nav:hover img.arabic-img
{
    content: url('images/ultraballOpen.png');
}
span.arabic-text
{
    font-size: 1em;
    color: white;
    transition: color 0.2s ease;
}
a.arabic-nav:hover .arabic-text
{
    color: red;
}