body
{
    background-color: #A6A6A6;
    background-size: cover;
    color: white;
    font-family: serif;
    font-size: 2em;
}
div.legendaries
{
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    margin-bottom: 10vh;
    width: 20vw;
    height: 15vw;
}